# Prompt data
.bin/prompt.d
.env/

# Programs data
.CFUserTextEncoding
.DS_Store
.Trash
.android
.anyconnect 
.bash_history
.bash_sessions
.bundle 
.dbshell
.cache
.cisco 
.config
.devdocs 
.docker
.eclipse
.emulator_console_auth_token
.gem
.gradle
.gtk-bookmarks
.history
.katana
.local
.m2
.mongorc.js
.mysql_history 
.oracle_jre_usage
.p2
.psql_history
.putty
.python_history
.ssh
.sonarlint
.sts4 
.sts4-jandex 
.tooling
.vim 
.viminfo
.vscode-oss
.webclipse
.zcompcache
.zcompdump

# Personal data
Applications
Desenvolvimento
Desktop
Documentos
Documents
Downloads
Games
Jobs
Library
Movies
Music
OneDrive
Pictures
Projetos
Public
Repos
VirtualBox VMs
Work
