.CFUserTextEncoding
.DS_Store
.Trash
.android
.bash_history
.bash_sessions
.cache
.config
.docker
.eclipse
.emulator_console_auth_token
.gitconfig
.gradle
.katana
.local
.m2
.oracle_jre_usage
.p2
.putty
.ssh
.tooling
.viminfo
Applications
Desenvolvimento
Desktop
Documents
Documentos
Downloads
Library
Movies
Music
OneDrive
Pictures
Public
Repos
VirtualBox VMs
Work
