# Using some configs from https://blog.scottnonnenberg.com/better-git-configuration.

[user]
	name = William Brendaw
	email = williambrendaw@protonmail.com

[credential]
	helper = osxkeychain

[core]
    pager = diff-so-fancy | less --tabs=4 -RFX

[color]
    ui = auto

[color "diff-highlight"]
	  oldNormal = red
	  oldHighlight = red "#500000"
	  newNormal = green
	  newHighlight = green "#003000"
      
[color "diff"]
	  meta = 11
	  frag = magenta bold
	  commit = yellow bold
	  old = red
	  new = green
	  whitespace = "#ffff00" reverse

[alias]
    a = add
    aa = add .
	am = commit --amend
    b = branch
    ba = branch -a
    br = branch -m
    bd = branch -D
    c = commit
    ca = commit -am
    cb = checkout -b
    cm = commit -m
    co = checkout
    d = diff
    l = log
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    p = push
	pr = !git fetch --prune
    pu = !git push -u origin $(git branch --show-current)
    s = status
    sa = stash apply
    sp = stash pop
	st = stash save --include-untracked
	un = reset --soft HEAD^

[merge]
	ff = only
	conflictstyle = diff3

[push]
	default = simple
	followTags = true

[status]
	showUntrackedFiles = all

[transfer]
	fsckobjects = true

[includeIf "gitdir:~/Work/"]
	path = ~/Work/.gitconfig
