.CFUserTextEncoding
.DS_Store
.Trash
.android
.anyconnect 
.bash_history
.bash_sessions
.bundle 
.cache
.cisco 
.config
.devdocs 
.docker
.eclipse
.emulator_console_auth_token
.gem 
.gitconfig
.gradle
.gtk-bookmarks
.katana
.local
.m2
.mysql_history 
.oracle_jre_usage
.p2
.putty
.ssh
.sonarlint
.sts4 
.sts4-jandex 
.tooling
.vim 
.viminfo
.vscode-oss
.webclipse 
.zsh_history
Applications
Desenvolvimento
Desktop
Documentos
Documents
Downloads
Library
Movies
Music
OneDrive
Pictures
Public
Repos
VirtualBox VMs
Work
